{% comment %}
  The home page template
{% endcomment %}

{%- liquid
  assign hero_section = 'hero'
  assign categories_section = 'categories'
  assign featured_products_section = 'featured-products'
  assign about_section = 'about'
  assign newsletter_section = 'newsletter'
-%}

<div class="template-index">
  {% section 'hero' %}
  {% section 'categories' %}
  {% section 'featured-products' %}
  {% section 'about' %}
  {% section 'newsletter' %}
</div>