{% comment %}
  The home page template
{% endcomment %}

<div class="template-index">
  <h1>Welcome to {{ shop.name }}</h1>
  <p>Your sensory-friendly clothing store</p>
  
  {% section 'hero' %}
  {% section 'categories' %}
  {% section 'featured-products' %}
  {% section 'about' %}
  {% section 'newsletter' %}
</div>